/.vs/
/bin/
/King.Framework/.vs
/King.Framework/King.Framework.AspNet.Identity/bin
/bin/*
bin
/King.Framework/King.Framework.Common/bin
/King.Framework/King.Framework.DAL/bin
/King.Framework/King.Framework.EntityLibrary/bin
/King.Framework/King.Framework.Interfaces/bin
/King.Framework/King.Framework.Ioc/bin
/King.Framework/King.Framework.Linq/bin
/King.Framework/King.Framework.LiteQueryDef
/King.Framework/King.Framework.Manager/bin
/King.Framework/King.Framework.Mvc/bin
/King.Framework/King.Framework.LiteQueryDef/bin
/King.Framework/King.Framework.OrgLibrary/bin
/King.Framework/King.Framework.Plugin/bin
/King.Framework/King.Framework.Repository/bin
/King.Framework/King.Framework.UrlAuthorization.Owin/bin
/King.Framework/King.Framework.WebTools/bin
/King.Framework/King.Framework.WorkflowEngineCore/bin
/King.Framework/King.Sys_Common.BLL/bin
/King.Framework/King.Sys_Common.Models/bin
